[submodule "Classes/Briefs-data"]
	path = Classes/Briefs-data
	url = git://github.com/thepatrick/Briefs-data.git
[submodule "Classes/Briefs-sharedUI"]
	path = Classes/Briefs-sharedUI
	url = git://github.com/thepatrick/Briefs-sharedUI.git
